body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

table th {
    background-color: #4CAF50;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #4CAF50;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: darkgreen;
}

button.edit-button {
    background-color: #FFC107;
}

button.edit-button:hover {
    background-color: #FFA000;
}

button.delete-button {
    background-color: red;
}

button.delete-button:hover {
    background-color: darkred;
}
